.AboutContainer {
    background-color: #0F0F0F;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80vh;
    width: 100vw;
    margin-top: 10vh;
}
.About {
    align-self: center;
    padding:  0 0;
    width: clamp(40%, 300px, 80%);
    text-align: center;
}
a.About {
    color: white;
}
.About a {
    color: white;
}