
* {
  outline: 0px solid red;   
  transition: all 0.2s ease-in-out;}
@font-face {
  font-family: 'Libre Bodoni';
  src: url(./Assets/Libre-Bodoni-Regular.ttf);
}
@font-face {
  font-family: 'Poppins';
  src: url(./Assets/Poppins-Regular.ttf);
}
h1, h2, h3, h4, h5, h6 {
  font-family:'Libre Bodoni', Times, serif;
  font-weight: 400;
}
p {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
html {
  font-size: calc(12.5px + 0.4vw);
  background-color: #0F0F0F;
}

