.Footer {
    display: flex;
    width: 100%;
    color: #FFF;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
    height: 10vh;
    transition: background-color 0.2s ease
}
.Footer .disclaimer {
    font-size: 0.8rem;
    text-align: center;
    align-self: center;
}