header {
    display: flex;
    width: 100%;
    color: #FFF;
    justify-content: space-evenly;
    height: 10vh;
    position: absolute;
    top: 0;
    transition: background-color 0.2s ease;
    align-items: center;
}
 header nav {
    display: flex;
    align-self: center;
    font-family: 'Poppins';
} 

header nav li {
    list-style-type: none;
    padding: 0 1em;
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,0);
}
header nav li:hover {
    text-decoration-color: #FFFFFF;
}
.active-link {
    text-decoration: underline;
    text-decoration-color: white;
}

header nav li a, header h1 a {
    color: white;
    text-decoration: none;
} 

header h1 a {
    align-self: center;
    user-select: none;
    cursor: pointer;
}
#about {
    cursor:pointer;
} 